*{
    padding: 0;
    margin: 0;
}
.info{
    background-image: url('https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?cs=srgb&dl=pexels-vojtech-okenka-392018.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    height: 100vh;
    padding: 1rem;
    color: white;
}

.loginCard{
    background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 1px solid rgba(255, 255, 255, 0.54);
}

.adminPanel{
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/842548/pexels-photo-842548.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-842548.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 1px;
}

.productDetailsBg{
    background:rgb(219, 250, 247);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

/* @media screen and(max-width: 1000px) {
            .loginCard{
                width: 50%;
            }
} */


.know-us a{
    color: white;
}

.card-header{
    overflow: hidden;
}
.imgage-ani{
    cursor: pointer;
    transition: .5s ease-in-out;
}
.imgage-ani:hover{
    transform: scale(1.3);
}