/* nav div li{
    list-style-type: none;
}

nav div li a{
    text-decoration: none;
    color: white;
}

nav{
    padding: 1rem;
    background-color: rgb(125, 196, 253);
    color: white;
    font-weight: 500;
} */