.parent {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background: url(https://images.pexels.com/photos/3184460/pexels-photo-3184460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}


