.product {
    display: flex;
}

.product-1 {
    /* width: 50rem; */
    display: flex;
    flex-direction: column;
    border: 2px solid #bbb;
    margin: 7rem 2rem;
}

.product-2 {
    /* width: 50vw;
     */
    margin: 7rem 2rem;

}