

.box{
    display: flex;

    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px rgb(41, 160, 193);

    
}

.box:hover{
    cursor: pointer;    
    box-shadow: 0px 0px 5px 2px rgb(216, 34, 116);
}

.main{
}

.dashboard{
    height:90vh;
        align-items: center;
        font-size: 2rem;
  
}