::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3d3d3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 172, 172);
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 143, 143);
  }